* {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}

html {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

.window {
    width: 25rem;
    height: 18rem;
    font-size: 1rem;
    padding: .8rem;

    .mask {
        position: fixed;
        z-index: 1000;
        background-color: #fff;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .dialog {
            width: 100%;
            padding: 20px;
            text-align: center;
        }
    }

    .error {
        cursor: pointer;
        position: fixed;
        z-index: 2000;
        font-size: .8rem;
        top: 0;
        left: 0;
        width: 100%;
        padding: .5rem;
        text-align: center;
        color: #903127;
        background-color: #f6cdcb;
        border-bottom: 1px solid #e77a74;
    }

    i.waiting {
        background-image: url(./images/brain.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        animation: bounce 1s infinite;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .generating {
        textarea {
            user-select: none;
            opacity: 0.5;
        }

        button {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;

            &:hover {
                background-color: #513ae3;
            }
        }
    }

    textarea {
        width: 100%;
        height: 13rem;
        resize: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1.5rem;
    }

    button {
        cursor: pointer;
        border-radius: 5px;
        border: none;
        padding: .5rem;
        color: #fff;
        background-color: #513ae3;
        font-weight: bold;
        font-size: .8rem;

        &:hover {
            background-color: #675fef;
        } 
    }

    .full {
        margin: 0 0 1rem 0;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        button {
            width: 100%;
        }
    }
}